* {
  margin: 0;
}

html, body {
  height: 100%;
}

html {
  margin: 0;
  padding: 0;
  font-family: "Helvetica Neue", Roboto, Arial, sans-serif;
  font-size: 62.5%;
  color: white;
  background: linear-gradient(to bottom, #2473ab 0%,#1e528e 70%,#5b7983 100%);
}

body {
  font-size: 1.8rem;
  color: whitesmoke;
}

h1, h2, h3 {
  font-weight: normal;
}

h1 {
  font-size: 3.5rem;
  margin-bottom: 0.5rem;
}

a {
  color: white;
  text-decoration: none;
}

.wrapper {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  margin: 0 auto -7rem;
  position: relative;
}

.container {
  margin-top: 40px;
}

.card {
  font-size: 1.3rem;
}

.card-header {
  background-color: slategray;
}

.card-body {
  background-color: lightslategray;
}

.card-body .btn, .create-button {
  font-size: 1.2rem;
}

footer, .push {
  height: 2rem;
}

footer .footer-contents {
  padding: 0 5rem;
  position: relative;
  font-size: 1.25rem;
  text-align: center;
}

.website-nav {
  position: relative;
  padding: 5rem;
}

.website-nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.website-nav ul li {
  float: left;
  padding: 0.5rem 2rem 0.5rem 0;
  line-height: 21px;
}

.website-nav ul li a {
  color: white;

}

.alert {
  font-size: 1.25rem;
}

.home-link {
  font-weight: bold;
  text-decoration: underline;
}

.page-content {
  padding: 1rem 5rem;
}

.page-content p {
  margin-bottom: 1rem;
}

div.type-option {
  margin: 0 20px;
}

@media (min-height: 500px) and (min-width: 700px) {
  .page-content {
    padding: 3rem 5rem;
  }
}

@media (min-height: 500px) and (min-width: 1240px) {
  h1 {
    font-size: 5rem;
  }
}

@media (min-aspect-ratio: 11/5)  {

}
